
# General
.DS_Store

# Thumbnails
._*

# Certificates
**/*.pem
**/*.crt
**/*.pfx
**/*.key
**/*.cacrt

default.profraw

.idea
node_modules

# IDE - VSCode
.vscode/*

*~
.artifactory
.idea/*
**/.idea/*
.ensime_cache/*
.config/*
.local/*
.ensime
**/.terraform/*
**/barista-kubernetes/*
**/*.auto.tfvars
.python_packages
__pycache__
.venv
